<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('css/app') }}
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"  crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "partials/layout/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/layout/footer.html.twig" %}
        {{ encore_entry_script_tags('js/app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>       
        {{ encore_entry_script_tags('js/utils') }}
        <script>
            $('select').select2();
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
