{% extends 'base.html.twig' %}

{% block title %}Dynamisez votre travail grâce au numerique{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}
    
  <div id="overlayer"></div>

  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
   
    {% include "home/partials/header.html.twig" %}
    
    {% include "home/partials/title.html.twig" %}
    
    {% include "home/partials/features.html.twig" %}

    {% include "home/partials/big-features.html.twig" %}

    {% include "home/partials/about.html.twig" %} 

    {# {{ render(controller('App\\Controller\\HomeController::formContact')) }} #}

    {% include "home/partials/footer.html.twig" %}   

    

    
  </div> <!-- .site-wrap -->
    {% include "home/partials/modal.html.twig" %}
{% endblock %}

{% block javascripts %}
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
  {{ encore_entry_script_tags('js/typed') }}
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>

    
    <script src="js/main.js"></script>
    
{% endblock %}
