<div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">A propos de nous</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="images/undraw_bookmarks_r6up.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">Our Mission</h2>
            <p class="mb-4">Offrir les services de SMS à un coût réduit sur toutes les couches de la population. </p>
            <ul class="ul-check mb-5 list-unstyled success">
              <li>Plus de 200 pays peuvent recevoir vos SMS</li>
              <li>Personnaliser vos Sender</li>
              <li>Faire du Bulk SMS</li>
            </ul>
            <p><a href="#" class="btn btn-primary">voir plus</a></p>
          </div>
        </div>

        
      </div>
    </div>