<div class="feature-big">
      <div class="container">
        <div class="row mb-5 site-section">
          <div class="col-lg-7" data-aos="fade-right">
            <img src="images/3.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black">Communiquez et Obtenez l'accusé de réception</h2>
            <p class="mb-4">Envoyez vos SMS et obtenez un accusé de réception à temps réel dans votre dashboard.</p>
            
            <div class="author-box" data-aos="fade-left">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">jessy NDAYA</strong> <br>
                  Co-Founder, Lukaflex.
                </div>
              </div>
              <blockquote>&ldquo;Nous consommons l' API EnySMS dans nos solutions et les résulats sont  juste waouh &rdquo;</blockquote>
            </div>
          </div>
        </div>

        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
            <img src="images/12.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h2 class="text-black">Envoyez vos SMS à tous vos contacts dans le monde</h2>
            <p class="mb-4">Envoyez vos SMS et obtenez un accusé de réception à temps réel</p>
            
            

            <div class="author-box" data-aos="fade-right">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Rachel BILO</strong> <br>
                  Secrétaire, Faculté de Droit/UPC.
                </div>
              </div>
              <blockquote>&ldquo;Tous nos étudiants ont accès à leurs résultats à partir de leur téléphone sans difficulté&rdquo;</blockquote>
            </div>
          </div>
        </div>
       
      </div>
    </div>