 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Obtenez 10 SMS gratuits !!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div class="row text-center">
                <p class="text-bold  ml-2 mr-2">Faites nous un mail via cette adresse
                <a href="mailto:yusufheri64@gmail.com?cc=yheri@enywork.com&subject=Souscription
                &body=Obtenir%20SMS%20gratuits">yusufheri64@gmail.com</a>. 
                Et  nous vous enverrons votre <b>login</b></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>

