<div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
            
            <img src="images/2.svg" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>Communiquez-vous autrement</h1>
                <p class="mb-5">
                Envoyez et récevez des SMS dans plus de 200 pays au monde grâce à notre service.</p>
               
                <button type="button" class="btn btn-primary  mb-2" data-toggle="modal" data-target="#exampleModal">
                  Obtenez 10 SMS gratuits
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>