{% extends 'dashboard/partials/base.html.twig' %}

{% block title %}Contacts::enysms{% endblock %}

{% block stylesheets %}
     {{ encore_entry_link_tags('css/dashboard') }}
{% endblock %}

{% block body %}
    {% include "dashboard/partials/header.html.twig" %}  
    <div class="container-fluid">
        <div class="row">
            {% include "dashboard/partials/menu.html.twig" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2"> 
                <div class="row">
                    <div class="col-md-8"> <h1 class="my-3">Contacts ({{ paginator.countTotalRows }})</h1></div>
                    <div class="col-md-4">
                        <a href="{{ path('dashboard_person_new') }}" class="btn btn-primary float-center my-3">
                        <h4><i class="fas fa-user-plus"></i> Nouveau contact</h4></a>
                    </div>
                </div>

                
                 
                <div class="container-fluid">                    
                    {% include "dashboard/person/_person.html.twig" with {'contacts' : data, 'paginator' : paginator, 'primary': 'info'} %}
                </div>
                    
            </main>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
     {{ encore_entry_script_tags('js/dashboard') }}
 {% endblock %}
